</head>
<body>

<form id="api-create" action="{{ path('app_user_web') }}" method="POST">
    <div>
        <label for="name">Имя пользователя:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="roles">Полномочие:</label>
        <input type="text" id="roles" name="roles" required>
    </div>
    <div>
        <button type="submit">Сохранить</button>
    </div>
</form>

</body>
</html>