<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
</head>

<body>
<header class="container">

</header>
<main class="container">
    <section id="preview">
        <h2>Создать пользователя</h2>
        <form id="api-create" action="{{ path('app_user_web') }}" method="POST">
            <div class="grid">
                <input
                        type="text"
                        name="name"
                        placeholder="Имя пользователя"
                        aria-label="name"
                        required
                />
                <input
                        type="text"
                        name="roles"
                        placeholder="Полномочие"
                        aria-label="roles"
                        required
                />
                <button type="submit">Сохранить</button>
            </div>
        </form>
    </section>
</body>
</html>
