<!DOCTYPE html>
<html>
<head>
    <title>Список пользователей</title>
</head>
<body>

<h1>Список пользователей</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Роли</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.roles }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>