<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
</head>
<main class="container">
    <section id="tables">
        <h2>Список питомцев</h2>
        <figure>
            <table role="grid">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Описание</th>
                    <th>Владелец</th>
                </tr>
                </thead>
                <tbody>
                {% for pet in pets %}
                    <tr>
                        <td>{{ pet.id }}</td>
                        <td>{{ pet.name }}</td>
                        <td>{{ pet.description }}</td>
                        <td>{{ pet.ownerName }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </figure>
    </section>
    </body>
</html>
