<html lang="">
<head>


</head>
<body>

<form id="api-user-add" action="{{ path('api_user_add') }}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="roles">Roles:</label>
        <input type="text" id="name" name="name" required>
    </div>

    <div>
        <button type="submit">Сохранить</button>
    </div>
</form>

</body>
</html>



